@CHARSET "ISO-8859-1";

/* FONT DEFINITION */
@font-face {
	font-family: 'UbuntuMedium';
	src: url('../fonts/Ubuntu-M.eot');
	src: url('../fonts/Ubuntu-M.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-M.ttf') format('truetype');
}
@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu-R.eot');
	src: url('../fonts/Ubuntu-R.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-R.ttf') format('truetype');
}
@font-face {
	font-family: 'UbuntuBold';
	src: url('../fonts/Ubuntu-B.eot');
	src: url('../fonts/Ubuntu-B.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-B.ttf') format('truetype');
}

/* GLOBAL */
@media (max-width: 767px) { /* CSS for phone */
	body {
		margin-top: 50px;
		color: #5a5a5a;
		font-family: Ubuntu;
	}	
	.container {
		width: 750px;
	}
	
}
@media (min-width: 768px) {/* CSS for tablet and desktop */
	body {
		margin-top: 75px;
		color: #5a5a5a;
		font-family: Ubuntu;
	}	
	
	.container {
		width: 900px;
	}
}
@media (max-width: 991px) {
	.carousel-control-2 {
		display: none;
	}
}


/* Carousel */
.carousel .container {
	max-width: 100%;
}
.carousel-caption {
  z-index: 10;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 580px;
}

/**/
.jumbotron {		
	margin-bottom: 0px;
}
.jumbotron p,
.carousel-inner p {
	line-height: 1.7;
	font-size: 16px;
}
.ez-content {
	margin: 60px 0;
}
.ez-green {
	background-color: #1ca8c3;
	color: #fefefe;
}
.ez-white {
	background-color: #fefefe;
	font-size: 12px;
}
.ez-gray {
	background-color: #e3e3e3;
}
.ez-dark-gray {
	background-color: #42464b;
	color: #FFFFFF;
}
.ez-titlemini-container {
	margin: 0 0 55px 0;
}
.ez-titlemini {
	padding: 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.jumbotron h1,
.ez-h1 {
	font-size: 40px;
	font-family: UbuntuMedium;
}
.ez-h2 {
	font-size: 24px;
	font-family: UbuntuMedium;
}
.ez-justify {
	text-align: justify;
}

@media (max-width: 767px) { /* CSS for phone */
	.jumbotron {
		padding: 0px;
	}
	.ez-h2 {		
		margin-bottom: 30px;
	}
	.ez-arrow-down {
		margin-top: -25px;
		zoom: 1;
		position: relative;
	}
	.ez-carousel-arrow-down {
		margin-top: -45px;
		margin-bottom: -15px;
		zoom: 1;
		position: relative;
	}
}
@media (min-width: 768px) {/* CSS for tablet and desktop */
	.ez-smallcontainer {
		padding: 0 90px;
	}
	.jumbotron {
		padding: 10px;
	}
	.jumbotron h1,
	.ez-h1 {
		padding: 0 30px;
	}	
	.ez-h2 {
		padding: 0 30px;
		margin-bottom: 65px;
	}
	.ez-arrow-down {
		margin-top: -45px;		
		zoom: 1;
		position: relative;
	}
	.ez-carousel-arrow-down {
		margin-top: -45px;
		margin-bottom: -15px;
		zoom: 1;
		position: relative;
	}
}

/* NAVIGATION */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

.navbar-wrapper .container {
	font-weight: bolder;
	
}
.navbar-fixed-top {		
	background-color: #36393E;
}
.navbar-inverse {
	border-color: #1ca8c3;
}
.navbar-inverse .navbar-nav > li > a {
	font-family: UbuntuMedium;
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #1ca8c3;	
}
@media (max-width: 767px) { /* Navigation for phone */
	.navbar-wrapper .container {
		padding-left: 0;
		padding-right: 0;
		width: auto;
	}
	.navbar-wrapper .navbar {
		padding-left: 15px;
		padding-right: 15px;
	}
	.brand-img {
		margin-top: -7px;	
	}
	.ez-nav-left {
		float: none;
	}	
	.ez-nav-right {
		float: none ;
	}		
}
@media (min-width: 768px) { /* Navigation for tablet and desktop */
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-left:  15px;
		padding-right: 15px;
		width: 750px;
	}
	.navbar-wrapper .navbar {
		padding-left:  0;
		padding-right: 0;
	}	
	.navbar-inverse .navbar-nav > li > a {
		height: 75px;
		font-size: 16px;
		padding-top: 40px;
	}
	.brand-img {
		margin-top: 6px
	}
	.ez-nav-right {
		float: right;
	}	
	.ez-nav-left {
		float: left;
	}
}
@media (min-width: 992px) {
	.navbar-wrapper .container {
		padding-left:  15px;
		padding-right: 15px;
		width: 900px;
	}
}

/* FIRST SLIDER */
.carousel-indicators li {
	background-color: #FFFFFF;
}
.carousel-indicators .active {
	background-color: #1ca8c3;
	border-color: #1ca8c3;
}
.ez-img-responsive {  
	max-width: 100%;
	height: auto;
}
/* Slider for device phone and smaller */
@media (max-width: 767px) {
	#ez-first .carousel-caption > img {
		margin-bottom: 30px;
		max-height: 240px;
	}
	#ez-first {
		height: 400px;
	}
	#ez-first .item {
		background-color: #e3e3e3;
		height: 400px;
	}
	#ez-first .carousel-caption p {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 1.4;
		padding: 2px 5px;
		background-color: rgba(51,150,160,0.8);
	}
}
@media (min-width:768px) {
	#ez-first .carousel-caption > img {
		margin-bottom: 30px;		
	}
	#ez-first {
		height: 580px;
	}
	#ez-first .item {
		background-color: #e3e3e3;
		height: 580px;
	}
}
/* Slider for phone */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	
}
/* Slider for phone potrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
	#ez-first {
		height: 400px;
	}
	#ez-first .item {
		background-color: #e3e3e3;
		height: 400px;
	}
}
/* Slider for phone landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
	#ez-first {
		height: 320px;
	}
	#ez-first .item {
		background-color: #e3e3e3;
		height: 320px;
	}
}
/* Slider for tablet */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	#ez-first {
		height: 580px;
	}
	#ez-first .item {
		background-color: #e3e3e3;
		height: 580px;
	}
	#ez-first .carousel-caption p {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 1.4;
		padding: 2px 5px;
		background-color: rgba(51,150,160,0.8);
	}
}
/* Slider for tablet potrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}
/* Slider for tablet landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	
}
/* Slider for desktop */
@media (min-width: 992px) {
	#ez-first {
		height: 580px;
	}
	#ez-first .item {
		background-color: #e3e3e3;
		height: 580px;
	}
	#ez-first .carousel-caption p {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 1.4;
		padding: 10px 10px;
		background-color: rgba(51,150,160,0.8);
	}
}


/* LOGO #ez-two */
#ez-two .ez-title {
	margin: 2px 0 2px 0;
}
#ez-two .ez-title h3 {
	font-family: UbuntuMedium;
	font-weight: bold;
	font-size: 12pt;
	line-height: 40px;
	color: #36c9e5;
	margin-top: 0px;
}
#ez-two .ez-logo > div > img {
	margin: 10px 0;	
}

@media (max-width: 767px) { /* Logo for phone */
	#ez-two .ez-logo {
		margin: 0 0 37px 0;
	}
}
@media (min-width: 768px) { /* Logo for tablet and desktop */
	#ez-two .ez-logo {
		margin: 0 0 25px 0;
	}
}

/* Solutions #ez-four*/
#ez-four .item > div {
	height: 90px;
}

/* Take it Eazy - Reason  #ez-five*/
#ez-five .footer-line {
	background-color: #1ca8c3;
	height: 1px;
	-webkit-box-shadow: 0 1px 0 0px #e1f6fb;
	box-shadow: 0 1px 0 0px #e1f6fb;	
} 
#ez-five .number-back-white {
	width: 75px;
	background-color: #fefefe;
	margin: -45px auto 0 auto;
}
#ez-five .number-back-green {
	background-image: url("../img/green-circle.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
#ez-five .number {
	font-size: 30px;
	font-family: UbuntuBold;
	color: #c7edf6;
	line-height: 45px;
	margin-left: -2px;
}
#ez-five .ez-h3 {
	font-family: UbuntuBold;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
}
#ez-five .ez-text-blue {
	color: #1ca8c3;
	font-family: UbuntuBold;
}
@media (max-width: 767px) {
	#ez-five .ez-takeit > div {
		margin-top: 70px;
	}
}
@media (min-width: 768px) {
	
	#ez-five .item {
		margin-top: 90px;
	}
}
/* Tablet */
@media (min-width:768px)
and (max-width: 991px) {
	#ez-five .ez-takeit > div {
		max-height: 485px;
		min-height: 325px;
	}	
}


/* BENEFITS #ez-six */
#ez-six > .row,
#ez-seven > .row {
	margin: 0px;
}
#ez-six .carousel-indicators {
	position: absolute;
	top: 70px;
	left: 50%;
	z-index: 15;
	width: 61%;
	padding-left: 0;
	margin-left: -30%;
	text-align: center;
	list-style: none;
	height: 25px;
}
#ez-six .carousel-indicators .active {
	background-color: #FFF;
	border-color: #FFF;
	color: #1ca8c3;
	height: 25px;
}

/* Slider for device phone and smaller */
@media (max-width: 767px){
	#ez-six .carousel-indicators > li {
		display: inline-block;
		width: 100%;
		padding: 0 5px 2px 5px;	
		background-color: #a1a3a5;
		cursor: pointer;
		text-indent: 0px;
		height: auto;
		border: 1px solid #a1a3a5;
		border-radius: 7px;
	}
	#ez-six .carousel-inner {
		margin-top: 100px;
	}
	#ez-six .carousel-indicators .active {
		width: 100%;
	}
	.line-1 {
		display: none;
	}
}
@media (max-width: 767px)
and (orientation: potrait) {
	.carousel-control-2 {
		display: none;
	}
	#ez-six .carousel-indicators .active {
		width: auto;
	}	
}
/* Slider for phone */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	#ez-six .carousel-indicators .active {
		width: 100%;
	}
}

/* Slider for tablet */
@media (min-width: 768px)
and (max-width:991px) {
	#ez-six .carousel-indicators > li {
		display: inline-block;
		width: auto;
		padding: 0 5px 2px 5px;	
		background-color: #a1a3a5;
		cursor: pointer;
		text-indent: 0px;
		height: auto;
		border: 1px solid #a1a3a5;
		border-radius: 7px;
	}
	#ez-six .carousel-inner {
		margin-top: 100px;
	}
	#ez-six .carousel-indicators .active {
		width: auto;
	}
	.line-1 {
		position: absolute;
		left: 25%;
		width: 50%;
		z-index: -10;
		top: -7px;
		border-color: #A1A3A5;
	}
}
/* Slider for desktop */
@media (min-width: 992px) {
	.carousel-control-2 {
		position: absolute;
		top: 370px;	
		left: 0;
		width: 15%;	
		color: #fff;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
		filter: alpha(opacity=50);
		opacity: .5;
	}
	.carousel-control-2.left {
	  
	}
	.carousel-control-2.right {
		right: 0;
		left: auto;  
	}
	#ez-six .carousel-inner {
		margin-top: 100px;
	}
	#ez-six .carousel-indicators > li {
		display: inline-block;
		width: auto;
		padding: 0 5px 2px 5px;
		margin: 0 5%;
		background-color: #a1a3a5;
		cursor: pointer;
		text-indent: 0px;
		height: auto;
		border: 1px solid #a1a3a5;
		border-radius: 7px;
	}
	.line-1 {
		position: absolute;
		left: 25%;
		width: 50%;
		z-index: -10;
		top: -7px;
		border-color: #A1A3A5;
	}
}

/* CASES #ez-seven */
.ez-cases h1 {
	color: #1ca8c3;
	margin-bottom: 40px;
}
.ez-cases h3 {
	color: #1ca8c3;
	font-family: UbuntuBold;	
	font-size: 17px;
	margin: 0px;
}
.ez-cases p {
	text-align: justify;
	margin-bottom: 30px;
}
#ez-seven .ez-text-blue {
	color: #1ca8c3;
	font-family: UbuntuBold;
}

/* Slider for tablet potrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.carousel-control-2 {
		display: none;
	}	
}

/* CLIENTS #ez-eight */
#ez-eight .ez-content > .ez-mitra {
	
}
@media (max-width: 767px) {
	#ez-eight .ez-h1 {		
		margin-bottom: 30px;
	}
}
@media (min-width: 768px) {/* CSS for tablet and desktop */	
	#ez-eight .ez-h1 {
		padding: 0 30px;
		margin-bottom: 65px;
	}	
	#ez-eight #deltallyod,
	#ez-eight #trimbos {
		margin-top: 17px;
	}
}

/* CONTACT #ez-nine*/
#ez-nine .footer-line {
	background-color: #1ca8c3;
	height: 1px;
	-webkit-box-shadow: 0 1px 0 0px #e1f6fb;
	box-shadow: 0 1px 0 0px #e1f6fb;	
} 
#ez-nine .footer-back-gray {
	width: 68px;
	margin: -45px auto 0 auto;
	background-color: #E3E3E3;
}

#ez-nine p {
	margin-top: 15px;	
}
@media (max-width: 767px) {/* CSS for tablet and desktop */	
	#ez-nine .ez-footer > div {
		margin-bottom: 45px;
	}
}