
/**
 * Font Definition
 */
@font-face {
	font-family: 'UbuntuMedium';
	src: url('../fonts/Ubuntu-M.eot');
	src: url('../fonts/Ubuntu-M.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-M.ttf') format('truetype');
}
@font-face {
	font-family:'Ubuntu';
	src: url('../fonts/Ubuntu-R.eot');
	src: url('../fonts/Ubuntu-R.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-R.ttf') format('truetype');
}
@font-face {
	font-family: 'UbuntuBold';
	src: url('../fonts/Ubuntu-B.eot');
	src: url('../fonts/Ubuntu-B.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Ubuntu-B.ttf') format('truetype');
	
}

/** 
 * ===========
 * GLOBAL CSS 
 * ===========
 */

/* Mini title and colorize */
.ez-titlemini {
	padding: 5px;
	/* margin-top: 63px; */
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.ez-green {
	background-color: #1ca8c3;
	color: #fefefe;
}
.ez-white {
	background-color: #fefefe;
	font-size: 12px;
}

/* Jumbotron background */
.ez-gray {
	background-color: #e3e3e3;
}

/* Arrow down */
.arrow-down-about {
	margin-top: -45px;	
	zoom: 1;
	position: relative;	
}
.arrow-down-carousel {
	margin-bottom: -27px;	
}


.carousel-caption {
  z-index: 10;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 580px;
}
.carousel-indicators li {
	background-color: #FFFFFF;
}
.carousel-indicators .active {
	background-color: #1ca8c3;
	border-color: #1ca8c3;
}
.ez-carousel-green {
	background-color: rgba(28,168,195,0.7);
	padding: 10px 60px;
}
.ez-img-responsive {  
  max-width: 100%;
  height: auto;
}
.target-menu {
	position: absolute;
	top: -45px;
}
.col-arrow-down {
	z-index: 2;
}

.ez-content {
	margin-top: 35px;
	/* margin-bottom: 50px;*/
}

.ez-title-content {
	margin-bottom: 63px;
}

.ez-content h1{
		font-size: 40px;
		font-family: UbuntuMedium;
}

.ez-content h2{
	font-size: 25px;	
	font-family: UbuntuMedium;
	
}
.ez-content h3 {
	font-family: UbuntuBold;
	font-weight: bold;
	font-size: 18px;
	line-height: 40px;
}

.ez-content p {
	font-family: Ubuntu;
	font-size: 16px;
	line-height: 1.7;
	display: block;
}

.ez-itext {
	font-family: UbuntuBold;
}
.jumbotron {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}
@media (min-width: 1200px) {
	.container {
		width: 900px;
	}
}
@media screen and (min-width: 768px){
	.carousel-caption {
		right: 27%;
		left: 27%;
		padding-bottom: 30px;
		
	}
}
@media (max-width: 767px) {
	body {
		margin-top: 50px;
		color: #5a5a5a;
		font-family: Ubuntu;
	}
	
	.jumbotron {
		padding-right: 0px;
		padding-left: 0px;
	}
	
	.arrow-down-cleints {
		margin-top: -40px;
	}
	.arrow-down-carousel-cases {
		margin-top: -30px;
	}
	
}
@media (min-width: 768px) {
	body {
		margin-top: 75px;
		color: #5a5a5a;
		font-family: Ubuntu;
	}
	
	.ez-content h1{
		
		padding-left: 90px;
		padding-right: 90px;
	}
	
	.ez-content h2{
		
		padding-left: 90px;
		padding-right: 90px;
	}
	.arrow-down-cleints {
		margin-top: -10px;
	}
	.arrow-down-carousel-cases {
		margin-bottom: -27px;	
	}
}


/* Navigation Bar */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
	font-weight: bolder;
}
.navbar-wrapper .navbar {
	padding-left: 15px;
	padding-right: 15px;
}
@media (max-width: 767px) {
	.ez-pull-left {
		float: none;
	}	
	.ez-pull-right {
		float: none ;
	}	
	.brand-img {
		margin-top: -13px;	
	}
}
@media (min-width: 768px) {
	.navbar-wrapper {
		margin-top: 20px;
	}
	.navbar-wrapper .container {
		padding-left:  15px;
		padding-right: 15px;
	}
	.navbar-wrapper .navbar {
		padding-left:  0;
		padding-right: 0;
	}
	.ez-pull-right {
		float: right;
	}	
	.ez-pull-left {
		float: left;
	}
}

/* Carousel pertama */


#ez-carousel-1 .carousel-caption > img {
	margin-bottom: 30px;	
}
@media (max-width: 600px) {
	#ez-carousel-1 {
		height: 400px;
	}
	#ez-carousel-1 .item {
		background-color: #e3e3e3;
		height: 400px;
	}
}
@media (min-width: 601px) {
	#ez-carousel-1 {
		height: 580px;
	}
	#ez-carousel-1 .item {
		background-color: #e3e3e3;
		height: 580px;
	}
}
@media (max-width: 767px) {
	
	#ez-carousel-1 .carousel-caption p {
	  margin-bottom: 20px;
	  font-size: 18px;
	  line-height: 1.4;
		padding: 2px 5px;
	  background-color: rgba(51,150,160,0.8);
	}
}

@media (min-width: 768px) {
	
	#ez-carousel-1 .carousel-caption p {
	  margin-bottom: 20px;
	  /*width: 630px;*/
	  font-size: 21px;
	  line-height: 1.4;
	  padding: 10px 10px;
	  background-color: rgba(51,150,160,0.8);
	}
}

/* Trusted by green */
.ez-part-two-title {
	margin: 10px 0 15px 0;
}



.ez-part-two-logo > div > img {
	margin: 10px 0 10px 0;	
}
.ez-part-two-title h3 {
	font-family: UbuntuMedium;
	font-weight: bold;
	font-size: 12pt;
	line-height: 40px;
	color: #36c9e5;
	margin-top: 0px;
	margin-bottom: 0px;
}

@media (max-width: 767px) {
	.ez-part-two-logo {
		margin: 0 0 37px 0;
	}
}

@media (min-width: 768px) {
	.ez-part-two-logo {
		margin: 0 0 50px 0;
	}
}

/* About  */

@media (max-width: 767px) {
	.ez-part-three {
		margin-bottom: 28px;
	}
}

@media (min-width: 768px) {
	.ez-part-three {
		margin-bottom: 60px;
	}
}

/* An unmatched data driven solutions */
.ez-part-four > div {
	height: 90px;
}
@media (max-width: 767px) {
	.ez-part-four {
		margin-bottom: 15px;
	}
}

@media (min-width: 768px) {
	.ez-part-four {
	}
}

/* Take it eezy */
.ez-numbering .number {
	font-size: 30px;
	font-family: UbuntuBold;
	color: #c7edf6;
	line-height: 45px;
	margin-left: -2px;
}

.number-back-white {
	width: 75px;
	background-color: #fefefe;
	margin: -45px auto 0 auto;
}
.number-back-green {

	background-image: url("../img/green-circle.png");
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}




@media (max-width: 767px) {
	.ez-part-five {
		margin: 0;	
	}
	.ez-five {
		margin: 90px 0 0 0;
		padding-right: 0px;
		padding-left: 0px;
	}
}
@media (min-width: 768px) {
	.ez-part-five {
		margin: 0 0 100px 0;	
	}
	.ez-five {
		margin: 90px 0 0 0;
		
	}
}

/* Carousel kedua */
span.ez-subtitle-co2 {	
	font-size: 17px;
	color: #1ca8c3;
	font-family: UbuntuBold;
}
.ez-case {
	float: left;
	background-color: #a1a3a5;
	padding: 2px 10px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}


@media (max-width: 767px) {
	#ez-carousel-2 {
		height: auto;
	}
	.carousel-control-2 {
		display: none;
	}
	.line-1 {
		display: none;
	}
	#ez-carousel-2 .item {
		background-color: #42464b;
		color: #FFF;
		height: auto;
		padding-top: 175px;
		padding-bottom: 60px;
	}

	.carousel-indicators-2 {
		position: absolute;
		top: 95px;
		left: 50%;
		z-index: 15;
		width: 61%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
		height: 25px;
	}
	
	.carousel-indicators-2 .active {
		background-color: #FFF;
		border-color: #FFF;
		color: #1ca8c3;
		width: 100%;
		height: auto;
		
	}

	.carousel-indicators-2 li {
		display: inline-block;
		width: 100%;
		padding: 0 5px 2px 5px;
		
		background-color: #a1a3a5;
		cursor: pointer;
		text-indent: 0px;
		height: auto;
		border: 1px solid #a1a3a5;
		border-radius: 7px;
	}
	
	.ez-case-item {
		font-weight: bold;
		float: left;
		
		
		display: block;
	}
}
@media (min-width: 768px) {
	#ez-carousel-2 {
		height: 1060px;
	}
	.carousel-control-2 {
		margin: 530px 0 0 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 15%;
		font-size: 20px;
		height: 45px;
		color: #FFF;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
		filter: alpha(opacity=50);
		opacity: .5;
	}
	
	.carousel-control-2.left {
		left: 0;
		right: auto;
	}
	
	.carousel-control-2.right {
		right: 0;
		left: auto;
		
	}
	.line-1 {
		position: absolute;
		left: 25%;
		width: 50%;
		z-index: -10;
		top: -7px;
		border-color: #A1A3A5;
	}
	.ez-co-justify:nth-child(odd) {
		padding-left: 105px;
		padding-right: 20px;
	}
	
	
	.ez-co-justify:nth-child(even) {
		padding-right: 105px;
		padding-left: 20px;
	}
	.ez-case-item {
		font-weight: bold;
		float: left;
		
		margin-left: 10px;
		display: block;
	}
}
@media (max-width: 991px) {
	#ez-carousel-2 > .item > .container {
		padding-right: 100px;
		padding-left: 100px;
	}
}
@media (min-width:768px) and (max-width:1199px) {
	
	#ez-carousel-2 .item {
		background-color: #42464b;
		color: #FFF;
		height: 1060px;
		padding-top: 75px;
	}

	.carousel-indicators-2 {
		position: absolute;
		top: 95px;
		left: 50%;
		z-index: 15;
		width: 61%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
		height: 25px;
	}
	
	.carousel-indicators-2 .active {
		background-color: #FFF;
		border-color: #FFF;
		color: #1ca8c3;
		width: auto;
		height: auto;
		
	}

	.carousel-indicators-2 li {
		display: inline-block;
		width: auto;
		padding: 0 5px 2px 5px;
		
		background-color: #a1a3a5;
		cursor: pointer;
		text-indent: 0px;
		height: auto;
		border: 1px solid #a1a3a5;
		border-radius: 7px;
	}
}
@media (min-width: 1200px) {
	
	#ez-carousel-2 .item {
		background-color: #42464b;
		color: #FFF;
		height: 1060px;
		padding-top: 75px;
	}

	.carousel-indicators-2 {
		position: absolute;
		top: 95px;
		left: 50%;
		z-index: 15;
		width: 61%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
		height: 25px;
	}
	
	.carousel-indicators-2 .active {
		background-color: #FFF;
		border-color: #FFF;
		color: #1ca8c3;
		width: auto;
		height: auto;
		margin: 0 50px;
	}

	.carousel-indicators-2 li {
		display: inline-block;
		width: auto;
		padding: 0 5px 2px 5px;
		margin: 0 50px;
		background-color: #a1a3a5;
		cursor: pointer;
		text-indent: 0px;
		height: auto;
		border: 1px solid #a1a3a5;
		border-radius: 7px;
	}
}

/* Caraousel ketiga */

.ez-title-co3 {
	color: #1ca8c3;
	font-size: 36px;
}
@media (max-width: 767px) {
	#ez-carousel-3 {
		height: auto;
	}
	
	#ez-carousel-3 .item {
		background-color: #e3e3e3;
		height: auto;
		padding-bottom: 60px;
		
	}
	.carousel-control-3{
		display: none;
	}
	
	.ez-co3-justify {
		padding: 0 25px;
	}
	#ez-arr-cor-3 {
		padding-right: 0px;
		height: 0px;
	}
}

@media (min-width: 768px) {
	#ez-carousel-3 {
		height: 1390px;
	}
	
	#ez-carousel-3 .item {
		background-color: #e3e3e3;
		height: 1390px;
	}
	.carousel-control-3 {
		margin: 290px 0 0 0;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 15%;
		font-size: 20px;
		color: #FFF;
		text-align: center;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
		filter: alpha(opacity=50);
		opacity: .5;
		height: 45px;
	}
	
	.carousel-control-3.right {
		right: 0;
		left: auto;
		
	}
}
@media (max-width: 991px) {
	#ez-carousel-3 > .item > .container {
		padding-right: 100px;
		padding-left: 100px;
	}
}

/* We are happy to work for */


.ez-mitra div.text-center {
	height: 75px;
	padding-top: auto;
	padding-bottom: auto;
}
@media (max-width: 767px) {
	.ez-mitra {
		margin-top: 75px;
		margin-bottom: 20px;	
	}
}

@media (min-width: 768px) {
	.ez-mitra {
		margin-top: 75px;
		margin-bottom: 113px;	
	}
	
	#deltallyod,
	#trimbos {
		margin-top: 17px;
	}
}

/* Contact */
.ez-footer {
	margin-top: -10px;
	
}

.ez-footer p {
	margin-top: 15px;
	font-family: Ubuntu;
	font-size: 16px;
}

.ez-footer img {
	
}

.ez-footer > div {
	margin-bottom: 40px;
}
.footer-line {
	background-color: #1ca8c3;
	height: 1px;
	-webkit-box-shadow: 0 1px 0 0px #e1f6fb;
	box-shadow: 0 1px 0 0px #e1f6fb;
	
} 

.footer-img-latar {
	
	width: 68px;
	margin: -45px auto 0 auto;
	background-color: #E3E3E3;
}
@media (max-width: 767px) {
}

@media (min-width: 768px) {
}






/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- 
======================================================================================================*/


/* Since positioning the image, we need to help out the caption */







.ez-justify,
.ez-co-justify,
.ez-co1-justify,
.ez-co3-justify {
	text-align: justify;
}


@media (min-width: 991px) {
	.ez-justify:nth-child(odd) {
		padding-left: 90px;
		padding-right: 20px;
	}
	
	.ez-justify:nth-child(even) {
		padding-right: 90px;
		padding-left: 20px;
	}
	
	
	.ez-co3-justify {
		padding: 0 130px;
	}
}




